.snippet-container{
  display: flex;
  /* flex-direction: row; */
  /* align-content: space-between; */
}

.list-view, .editor {
  flex:1;
}

.list-view {
  background-color: lightblue;
}

.editor {
  display:flex;
  flex-direction: column;
  flex-grow: 4;
}